.completed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
}

.completed-wrapper {
  text-align: center;
  padding: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-width: 500px;
  width: 100%;
}

.icon-gift {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon-gift img {
  background-color: #e0dbd7;
  border-radius: 50%;
  padding: 12px;
  width: 100px;
  height: 100px;
}

.completed-text p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.completed-textsub p {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  margin-top: 20px;
}

.completed-button {
  display: flex;
  justify-content: center;
  gap: 20px; /* 버튼 간의 간격 설정 */
  margin-top: 20px;
}

.completed-button button {
  background-color: #333;
  color: #fff;
  width: 130px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.completed-button button:hover {
  background-color: #555;
}
