.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #ffffff; */
}

.about-wrapper {
  width: 100%;
  margin-top: 150px;
}

.about-title {
  padding: 0 80px;
}

.about-title p {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.about-img-wrapper {
  display: flex;
  padding: 0 80px;
  gap: 90px;
  margin-top: 50px;
  align-items: center;
}

.about-img {
  flex: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 680px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-logo-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-logo {
  font-weight: 800;
  font-size: 40px;
  margin-top: 40px;
}

.about-logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.about-text {
  max-width: 95%;
  overflow-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
  line-height: 1.9;
}
